*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color: rgb(204, 196, 185); 
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    
}


.main-container{
    display: flex;
   
    
}


.left-image{
    position: relative;
    height: 100vh;
    width: 35vw;
    display: flex;
    
}
img{
    height: 100vh;
    width: 100%;
}

.logo{
   height: 15vh;
   background-color: black;
   opacity: 0.5;
   width: 100%;
   position: absolute;
   top: 20%;
   display: flex;
  align-items: center;
  text-align: center;
    
    
}

#logo-text{
    color: white;
    font-size: 50px;
    width: 100%;
}

.background-part{
    position: relative;
    display: flex;
    height: 100vh;
    background: linear-gradient(#466bac,#233046) ;
    flex-direction: column; 
    width: 65vw; 
    color: white;
    
}

.upper-background-part{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-top: 60px;
    font-size: 20px;
    width: 80%;
}
.bottom-background-part{
   padding-left: 30px;
   margin-top: 30px;
  
  
}


.form-part{
    background-color: aliceblue;
    width: 100%;
    -webkit-box-shadow: 0 10px 5px #01000a;
    -moz-box-shadow: 0 10px 5px #000008;
    box-shadow: 0 10px 5px #01000e;
    padding-left:30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:15px 0 25px 30px ;
    color: black;
    
 
}
.form-header{
    color: #043628;
    font-size: 19px;
    
}

.create-account{
    padding: 10px 43px;
    background-color: rgb(10, 48, 58);
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid rgb(1, 10, 12);
    
   
}
.create-account:hover{
    background-color:rgb(8, 31, 37) ;
    transform: translate(-0.5px);
    border: none;
    
}

.have-account{
    font-size: 12px;
}

#log-in{
    text-decoration: none;
    color: rgb(60, 182, 139);
    font-weight: bold;
}
#log-in:hover{
    color: rgb(131, 221, 189);
}

.form-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

span{
    display: flex;
    flex-direction: column;
    width: 70%;
}


.forms{
    display: flex;
    gap: 90px;
    font-size: 11px;
    width: 30%;
    
}
input{
    padding: 3px;
    
}
input:focus{
  border:2px solid rgb(92, 92, 182);
  outline: none;
  transition: 0.5s;
}

#matching-password{
    color: red;
    display: none;
}

#password-length{
    color: red;
    display: none;
}

#correct-phone {
    color: red;
    display: none;
}